
/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Righteous');
/* */

/* Reset */
body { margin: 0; padding: 0; }
/* */

#game {
	width: auto;
	height: auto;

	display: block;
	margin: auto;

	position: absolute;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* UI */

#ui {
	position: absolute;
	
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
}

#ui div {
	display: none;
}

a.button, a.button-no-hover {
	display: block;
	width: auto;
	margin: 24px;
	padding: 8px;
	
	border: solid 3px #297AFF;
	background: rgba(0, 0, 0, 0);

	color: #297AFF;
	font-family: "Righteous", Helvetica, serif;
	font-size: 24px;
	text-align: center;
	text-decoration: none;


	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

a.button:hover {
	background: #FF3920 !important;
	color: #000;
}

/* Menus */

#mainMenu, #pauseMenu {
	position: absolute;

	height: auto;
	width: auto;

	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

#roomMenu {
	width: 100%;
	height: 100%;
}

#roomMenu #pauseButton {
	width: auto;
	height: auto;
	
	margin-top: 10px;
	margin-right: 10px;
	
	padding: 2px 8px 2px 8px;
	float: right;
}

#pauseOverlay {
	width: 100%;
	height: 100%;
	display: block;

	background: rgba(255, 255, 255, 0.4); 
}

#pauseMenu .button{
	background: black;
}
